<div class="title">
<span class="clicktoedit">Click to edit</span>
{{ site }}

</div>
<div class="edit">
<input type="text" name="site" value="{{ site }}" placeholder="Site Name"/><br />
<textarea name="opts">
{{ json_opts }}
</textarea><br />
<label class="jksubmit" for="submittojk">
  <input type="checkbox" name="submittojk" id="submittojk" checked="checked"> Submit to JK Navigator for future inclusion.
</label>

  <div class="buttons">
    <button class="savesite">Save Site</button>
    <button class="removesite">Remove Site</button>
    <button class="discard">Discard Changes</button> 
  </div>
</div>

